.projects {
    
    max-width: 700px;
    width: 100%;
    padding-right: 7px;
    height: 1500px!important;
    overflow-x: hidden;
   overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    gap: 30px;
    padding-bottom: 30px;
    
}
.projectItem {
    
    transition: all .2s ease-in;
   
    border-radius: 14px;
    border: 3px solid #282fd2;
    background-color: #282fd2;
    object-fit: cover;
    width: 100%;
    max-width: 440px;
    
    color: aliceblue;
    text-align: left;

}
.projectItem:hover {
    border: 3px dotted #282fd2;
    background-color: #eef1fc;
    color: #2C2C2C!important;
    
}
.projectItem:hover .projectImage {
    border-bottom: 3px dotted #282fd2;
}

.projectName {
    
    margin: 0;
}
.projectTitle {
    margin: 0;
    font-family: Comf-M;
}

.projectImage {
    border-bottom: 3px solid #282fd2;
    border-radius: 14px;
    width:100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    transition: all .3s ease-in;
}
.projectText {
    padding: 10px;
}
.projects>a:nth-child(1) {
    
    animation: fade 0.4s ease-in-out forwards;
}
.projects>a:nth-child(2) {
   
    animation: fade 0.6s forwards 0.1s;
}
.projects>a:nth-child(3) {
    
    animation: fade 0.2s forwards 0.2s;
}
.projects>a:nth-child(4) {
   
    animation: fade 0.2s forwards 0.3s;
}
.projects a {
    max-width: 440px;
    width: 100%;
}
@media (max-device-width: 800px) {
    .projects {
        padding-top: 0;
        width: auto;
        align-items: center;
        flex-direction: column;
    }
    .projectItem {
        margin-right: 0;
    }
    a {
        margin-right: 0;
    }
}