.main {
   
    justify-content: center;
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #eef1fc;
}

a {
    
    user-select: none;
    outline: none;
    width: 90%;
    max-width: 400px;
    color: none;
    text-decoration: none;

}
.smokeImgLeft {
    width: 800px;
    z-index: 0;
    position: absolute;
    bottom: -350px;
    left: -350px;
    animation: smokeLivitation 10s infinite ease-in-out;
    
   
}
.smokeImgRight {
    
    width: 800px;
    position: absolute;
    top: -350px;
    right: -350px;
    animation-delay: 0.6s;
    animation: smokeLivitation 5s infinite ease-in-out;
   
}
.wrapper {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-family: Comf-B;
    z-index: 3;
    border-radius: 30px;
    width: 100vw;
    padding: 0 20px 20px 20px;
    justify-content: center;
    align-items: center ;
   margin: 40px 0;
}

.button {
    position: relative;
    background: #282fd2;
    border-radius: 15px;
    display: flex;
    margin-right: 0;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 60px;
    border: #eef1fc 2px solid;
    
    transition: all 0.2s linear;
}
.button:hover {
    background: #eef1fc;
    border: #282fd2 2px solid;
    border-style: dashed;
    transform:scale(1.05) ;
}
.button:hover p {
    color: #282fd2;
}
.button p {
    font-size: 20px;
    font-family: Comf-M;
    color: white;
    align-items: center;
    margin: 0;
}
.dashbord>a {
    opacity: 0;
    transform: translateY(-60px);
}
.dashbord>a:nth-child(1) {
    
    animation: fade 0.2s ease-in-out forwards;
}
.dashbord>a:nth-child(2) {
   
    animation: fade 0.2s forwards 0.1s;
}
.dashbord>a:nth-child(3) {
    
    animation: fade 0.2s forwards 0.2s;
}
.dashbord>a:nth-child(4) {
   
    animation: fade 0.2s forwards 0.3s;
}
.ico {
    right: 10%;
    position: absolute;
    width: 30px;
}
.dashbord {
    
    height: 350px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.ava {
    animation: smokeLivitation 10s infinite;
    margin-top: -25px;
    margin-bottom: 25px;
    width:250px;
    
   
}
.portNavigation {
    justify-content: space-around;
    width: 200px;
    display: flex;
    margin-bottom: 40px;
    
}
.activeAbNL {
    color: #282FD2!important;
}
.activeAbNL::before {
    align-items: center;
    border-radius: 50%;
    content: "";
    display: block;
    position: absolute;
    margin-left: 10px;
    bottom: -15px;
    left: 50%;
    width: 5px;
    height: 5px;
    background-color: #282FD2;
    transform: scale(1) !important;
    
}

.activeAbNL::after {
    border-radius: 50%;
    content: "";
    display: block;
    position: absolute;
    bottom: -17px;
    left: 40%;
    width: 10px;
    height: 10px;
    background-color: #282FD2;
    transform: scale(1) !important;
    
}
.aboutPortfolioNavLink {
    cursor: pointer;
    margin-top: 0;
    margin-left: 0;
    position: relative;
    text-decoration: none;
    color: #2C2C2C;
    font-size:18px ;
    
    margin-bottom: 0;
}
.aboutPortfolioNavLink:hover {
    color: #282FD2;
}
.aboutPortfolioNavLink::before {
    align-items: center;
    border-radius: 50%;
    content: "";
    display: block;
    position: absolute;
    margin-left: 10px;
    bottom: -15px;
    left: 50%;
    width: 5px;
    height: 5px;
    background-color: #282FD2;
    transform: scale(0);
    transition: transform .4s ease-in;
}
.aboutPortfolioNavLink:hover::before {
    transform: scale(1);
}
.aboutPortfolioNavLink::after {
    border-radius: 50%;
    content: "";
    display: block;
    position: absolute;
    bottom: -17px;
    left: 40%;
    width: 10px;
    height: 10px;
    background-color: #282FD2;
    transform: scale(0);
    transition: transform .2s ease-in;
}

.aboutPortfolioNavLink:hover::after {
    transform: scale(1);
}
@media (max-device-width: 800px) {
    
}
@keyframes smokeLivitation {
    0% {
        
        transform: translateY(0) rotate(0) translateX(0);
    }
    25%{
        
        transform: translateY(-9px) rotate(2deg) translateX(-4px);
    }
    50%{
        transform: translateY(2px)rotate(-2deg) translateX(2px);
    }
    75% {
        
        transform: translateY(-9px) translateX(-4px);
    }
    100%{
        transform: translateY(0)translateX(0);
    }
}
@keyframes fade {
    0%{
        transform: translateY(-60px);
        opacity: 0;
    }
    50% {
        opacity: 0.3;
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
