.main {
    justify-content: center;
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #333366;
}

.smokeImgLeft {
    position: absolute;
    bottom: -350px;
    left: -350px;
    animation: smokeLivitation 10s infinite ease-in-out;
    
    width: 1000px;
    height: 1000px;
}
.smokeImgRight {
    position: absolute;
    top: -350px;
    right: -350px;
    animation-delay: 0.6s;
    animation: smokeLivitation 7s infinite ease-in-out;
    
    width: 1000px;
    height: 1000px;
}
.wrapper {
    font-size: 24px;
    font-family: Comf-B;
    z-index: 3;
    border-radius: 30px;
    width:1170px;
    background-color: aliceblue;
    justify-content: center;
   margin: 40px 0;
}

@keyframes smokeLivitation {
    0% {
        transform: translateY(0);
    }
    25%{
        transform: translateY(-9px);
    }
    50%{
        transform: translateY(0);
    }
    75% {
        transform: translateY(-9px);
    }
    100%{
        transform: translateY(0);
    }
}
