@font-face {
  font-family: Comf-B;
  src: url(../public/fonts/NoahGrotesque-Bold.ttf);
}
@font-face {
  font-family: Comf-M;
  src: url(../public/fonts/NoahGrotesque-Light.ttf);
}
::-webkit-scrollbar {
  width: 9px;
  
}

::-webkit-scrollbar-track {
  
  background-color: #eef1fc;
}

::-webkit-scrollbar-thumb { 
  background-color: #2C2C2C ;
  border: 3px solid #eef1fc ;
  border-radius: 3px;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
