@font-face {
  font-family: Comf-B;
  src: url(../public/fonts/NoahGrotesque-Bold.ttf);
}
@font-face {
  font-family: Comf-M;
  src: url(../public/fonts/NoahGrotesque-Light.ttf);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
